@import './button.css';
@import './input.css';
@import './header.css';
@import './banner.css';
@import './motivation.css';
@import './training-types.css';
@import './join-us.css';
@import './location.css';